* { margin: 0; }
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

    display: grid;
    grid-template-rows: max-content 1fr;
    /* grid-template-areas: "t t t" "s1 s2 s3"; */
    overflow: hidden;
    user-select: none;
    gap: 0;

    background-color: #212121;
    color: white;
}
#sections {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#top-bar {
    border-bottom: 2px solid #666600;
}
.sect {
    position: relative;
    /* min-width: calc(100vw / 3 - 4px - 2rem); */
    padding: 1rem;
}
#sect1 {
    /* border: 2px solid #9e0000; */
}
#sect2 {
    /* border: 2px solid #008000; */
    border-left: 2px solid #666600;
    border-right: 2px solid #666600;
}
#sect3 {
    /* border: 2px solid #686868; */
}
#sect1 .btn { background-color: #9e0000; }
#sect2 .btn { background-color: #008000; }
#sect3 .btn { background-color: #686868; }
.btn {
    height: max-content;
    border-radius: 2px;
    padding: 0.5rem 0.7rem;
    user-select: none;

    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 1rem;
    font-weight: bold;

    /* transition-duration: 0.1s; */
}
/* .btn:hover { background-color: #333; } */
/* .btn:active { background-color: #444; } */
.btn:hover { box-shadow: 0 0 5px white; }
.btn:active { box-shadow: 0 0 5px grey; }
.btn h3 {
    width: max-content;
}
.btn .info {
}
.sect-title {
    text-align: center;
    padding-bottom: 1rem;

}
.two-btns {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
}
.two-btns .btn h3 {
    width: auto;
    text-align: center;
}

#sell-pen {
    margin-top: 2rem;
}
#sell-pen h3 {
    /* width: auto; */
    text-align: center;
    float: left;
}
.btn .t-cent { text-align: center; width: auto; }

#tip-box {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem 1.3rem;
    /* border: 2px solid white; */
    transform: translateY(100%);
    background-color: #333333;
    width: calc(33.33333vw - 2.6rem);
    /* transition-duration: 0.4s; */
}

.buss-info {
    padding-top: 2rem;
    padding-left: 1rem;
    font-size: 1.3rem;
}